.games_img{
    width: 100%;
}

.search-box{
    width:100%;
    background-color: red;
    padding: 0 10px;
}

.search_box {
    width:90%;
    padding: 10px;
}

.search_button{
    height: inherit;
}