.games_img{
    width: 100%;
}

.search-box{
    width:100%;
    background-color: red;
    padding: 0 10px;
}

.search_box {
    width:90%;
    padding: 10px;
}

.search_button{
    height: inherit;
}

.contentwidth{
    width: 80%;
    margin: 0 auto;
}

.devbanner{
 width: 100%;
 border: 1px solid gray;
 height: 300px;
}

.recentrelease{
    margin: 10px 0;
}

.releasephoto{
    border: 1px solid gray;
    height: 300px;
}

.h3name{
    margin-top: -5px;
}